/* header part */

.container{
    width:82%;
    max-width:1574px;
    margin:0 auto;
    /* margin:41px 115px 0px 115px; */
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00));
}
.new-text{
      position:relative;
      padding:191px 282px 145px 282px;
}
.new-image{
    position:absolute;
}
.new-text .headd{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 59px;
    font-style: normal;
    font-weight: 740px; 
}
.new-text .head-text{
    color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 328;
}
/* main section */

/* new year */
.container-holiday{
    width:82%;
    max-width:805px;
    height: 800px;
    margin:0 auto;
    /* margin:80px 398px 0px 398px; */
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.holiday-text{
    text-align: center;
    font-family: Inter;
}
.holiday-text .off{
color: #F00;
font-size: 73px;
font-style: normal;
font-weight:574px;
line-height: normal;
}
.holiday-text .better{
    color: #F00;
    font-size: 20px;
   font-style: normal;
   font-weight: 410px;
   line-height: normal;
  
}
.holiday-text .categories{
    color: #070211;
  font-size: 40px;
  font-style: normal;
  font-weight: 570;
   line-height: normal;
}
/* midnight party  */
.new-year-img{
    position:absolute;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.imagetext {
    position: relative;
    display:flex;
    
}
.new-text{
    text-align: center;
}
.new-img{
    align-items: end;
}
.new-text .welcome-text{
    color: #FFF;
    font-family: Merriweather;
    font-size: 52px;
    font-style: normal;
    font-weight: 738;
    letter-spacing: 5.77px; 
    /* padding:80px 420px 210px 80px;   */
}
.new-text .lorem{
    color: rgba(255, 255, 255, 0.80);
   font-family: Inter;
   font-size: 15px;
   font-style: normal;
   font-weight: 328;
}
.new-text .join{
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 16px;
font-weight: 574;
text-transform: uppercase;
}
/* box  */
.box{
    width:82%;
    max-width:1574px;
    height:490px;
    background-color:burlywood;
    margin:0 auto;
    border-radius: 16px;
    
}
.box .box-text{
   
    text-align: center;
    font-family: Inter;
    padding:80px 315px 50px 315px;
   text-align: center;
   font-size: 26px;
   font-weight: 492;

}
.box-join{
    border-radius: 16px;
    text-align: center;
    font-family: Inter;
    color: #FFF;
     font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
    padding:0px 500px 8px 500px;
}
/* portfolio */
.port-container{
    width:82%;
    max-width:1574px;
    height:950px;
    background-color:white;
    /* margin:41px 140px 0px 140px; */
    margin:0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
    
}
.awesome{
    color: #070211;
   font-family: Merriweather;
   font-size: 40px;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
   text-transform: capitalize;
}
.gift{
     color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 328;
     
}
.flex-img{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    
   
}
.flex-img-01{
    width:355px;
    height:369px;
    padding: 0px 24px 24px 0px;
    
}
.flex-img-02{
    width:355px;
    height:369px;
    padding: 0px 24px 24px 24px;
    
}
.flex-img-03{
    width:355px;
    height:369px;
    padding: 0px 0px 24px 24px;
}
.flex-img-04{
    width:355px;
    height:369px;
    padding: 0px 24px 0px 0px;
}
.flex-img-05{
    width:355px;
    height:369px;
    padding: 0px 24px 0px 0px;
}
.flex-img-06{
    width:355px;
    height:369px;
    padding: 0px 0px 0px 0px;
}
/* newsletter */
.newsletter{
    width:82%;
    max-width:1574px;
    height: 500px;
    margin:0 auto;
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;

}
.newsletter-img{
    width: 123px;
    height: 123px;
   flex-shrink: 0;
   padding:55px 0px 0px 550px;
   border-radius: 16px;
}
.newsletter-text{
     text-align: center;
}
.text-01{
    color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size:xx-large;
  font-family: 60px;
  font-style: normal;
  text-transform: capitalize;
}
.text-02{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    
}
.newsletter.form{
    max-width : 800px;
    margin : 20px auto;
    display: flex;
}
input{
    width:600px;
    flex-grow:1;
    border:none;
    border-radius:3px;
    outline:rgb(128, 0, 92);
    
}
/* footer part */
footer{
    max-height: 500px;
    width:100%;
    max-width:1574px;
    max-height: 500px;
    margin:0 auto;
    border-radius: 16px;
    background-color:black
}

.footer-text p{
    padding: 98px 889px 335px 114px;
    font-family: Inter;
    display:flex;
}

/* .footer-ninja .footer-contact p{
   text-align: center;
   
} */
/* .foot-text{
    

} */
